



<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="./owlcarousel/dist/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    $(document).ready(function(){
        AOS.init();
        $(".owl-carousel").owlCarousel({
            loop :true,
            autoplay:true,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    
                },
                600:{
                    items:3,
                  
                },
          
            }

        });
    });
</script>
</body>
</html>