<%-include('navbar') %>

<div class="container mx-auto  flex justify-center mt-8 mb-8">
    <div class="flex flex-col items-center text-center animate__animated animate__fadeInDown">
        <img class="w-16 md:w-32 mb-5" src="images/sms.png" alt="">
        <h1 class="text-3xl">เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนสราสิทธิ์พทิยาลัย  </h1>
        <h1 class="text-xl">โรงเรียนสราสิทธิ์พทิยาลัย สำนักงานเขตพื้นที่การศึกษาประถมศึกษาลำปาง เขต3</h1>
    </div>
  
</div>

<div class="bg-gray-200 h-[1500px] pt-8">
    <div class="flex flex-col sm:flex-row justify-center items-center gap-x-8 mb-8  animate__animated animate__fadeInUp">
        <!-- first container (ปฐมวัย) -->
         <div>
            <div class="bg-white drop-shadow-2xl rounded-lg flex items-center flex-col text-center p-6">
                <img class="w-36 mb-3" src="https://static.vecteezy.com/system/resources/previews/024/062/824/original/cute-little-children-boy-or-kids-cartoon-character-png.png" alt="">
                <div>
                    <h1 class="text-3xl">การศึกษาปฐมวัย</h1>
                    <h1 class="text-base">
                        เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนสารสิทธิ์พิทยาลัย
                    </h1>
                    <h1 class="text-base">
                        การศึกษาปฐมวัย
                    </h1>
                </div>
            </div>
            <div class="mt-3">
                <a type="button" href="#first_page" class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer" style="user-select: none;">
                    <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023"/>
                    </svg>
                    <span  class="text-xl text-white">
                        การศึกษาปฐมวัย
                    </span>
                </a>
                <a type="button" href="#link1" class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer" style="user-select: none;">
                    <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023"/>
                    </svg>
                    <span  class="text-sm md:text-lg text-white">
                        คู่มือกรอบแนวทางการประกันคุณภาพภายนอก ระดับการศึกษาปฐมวัย
                    </span>
                </a>
             
            </div>
            
         </div>
        <!-- second container (การศึกษาขั้นพื้นฐาน)-->
        <div>
            <div class="bg-white drop-shadow-2xl rounded-lg flex items-center flex-col text-center p-6">
                <img class="w-36 mb-3" src=" https://static.vecteezy.com/system/resources/previews/011/155/585/original/cartoon-student-boy-happy-colorful-free-png.png" alt="">
                <div>
                    <h1 class="text-3xl">การศึกษาขั้นพื้นฐาน</h1>
                    <h1 class="text-base">
                        เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนสารสิทธิ์พิทยาลัย
                    </h1>
                    <h1 class="text-base">
                        ระดับการศึกษาขั้นพื้นฐาน
                    </h1>
                </div>
            </div>
            <div class="mt-3">
                <a type="button" href="#link1" class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer" style="user-select: none;">
                    <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023"/>
                    </svg>
                    <span  class="text-xl text-white">
                        การศึกษาขั้นพื้นฐาน
                    </span>
                </a>
                <a type="button" href="#link1" class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer" style="user-select: none;">
                    <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023"/>
                    </svg>
                    <span  class="text-sm md:text-lg text-white">
                        คู่มือกรอบแนวทางการประกันคุณภาพภายนอก ระดับการศึกษาขั้นพื้นฐาน
                    </span>
                </a>
            </div>
            
         </div>
    </div>
    <!-- เนื้อหา video แนะนำโรงเรียน -->
    <div class="bg-white container mx-auto p-2 rounded-lg">
        <div class="mb-5 bg-gradient-to-r from-cyan-500 to-blue-500 w-full p-4 rounded-lg text-center">
            <h1 class="text-3xl text-white">VTR แนะนำโรงเรียนสารสิทธิ์พิทยาลัย</h1>
            <h3 class="text-lg text-white">VTR แนะนำโรงเรียนสารสิทธิ์พิทยาลัย ซึ่งมีรายละเอียด บริบทของโรงเรียนประจำปีการศึกษา 2567</h3>
        </div>
        <video class="w-full h-auto max-w-full" controls>
            <source src="videos/sj_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    
</div>

<!-- การศึกษษปฐมวัย -->
 <section id = "first_page">
    <div class="flex flex-wrap justify-center items-center mt-8 gap-y-5 p-8 md:gap-x-8">
        <div class="text-blue-600 text-center">
            <h1 class="text-5xl mb-3">การศึกษาปฐมวัย</h1>
            <h3 class="text-2xl">เอกสารประกอบการประกันคุณภาพภายนอก ของโรงเรียนสารสิทธิ์พิทยาลัย การศึกษาปฐมวัย</h3>
        </div>
        <div>
            <img class="w-[160px]" src="https://thumb.ac-illust.com/1f/1f0cc5ce78768305e4ea272e1f8f8707_t.jpeg" alt="">
        </div>
        <div>
            <div class="accordion-wrapper w-120">
                <div class="accordion">
                  <input type="radio" name="radio-a" id="check1" checked>
                  <label class="accordion-label" for="check1">มาตรฐานที่ ๑ ผลลัพธ์คุณภาพของเด็กปฐมวัย</label>
                  <div class="accordion-content">
                  
                    <p>ตัวชี้วัดที่ ๑.๑ เด็กเจริญเติบโตสมวัย สุขภาพแข็งแรงและมีพัฒนาการด้านการเคลื่อนไหว</p>
                    <p>ตัวชี้วัดที่ ๑.๒ เด็กมีพัฒนาการด้านสติปัญญา เรียนรู้และสร้างสรรค์</p>
                    <p>ตัวชี้วัดที่ ๑.๓ เด็กมีพัฒนาการด้านภาษาและการสื่อสาร</p>
                    <p>ตัวชี้วัดที่ ๑.๔ เด็กมีพัฒนาการด้านอารมณ์และจิตใจ</p>
                    <p>ตัวชี้วัดที่ ๑.๕ เด็กมีพัฒนาการด้านสังคมและคุณธรรม</p>
                   
                  </div>
                </div>
                <div class="accordion">
                  <input type="radio" name="radio-a" id="check2">
                  <label class="accordion-label" for="check2">มาตรฐานที่ ๒ การบริหารจัดการสถานพัฒนาเด็กปฐมวัย</label>
                  <div class="accordion-content">
                    <p>ตัวชี้วัดที่ ๑.๑ เด็กเจริญเติบโตสมวัย สุขภาพแข็งแรงและมีพัฒนาการด้านการเคลื่อนไหว</p>
                    <p>ตัวชี้วัดที่ ๑.๒ เด็กมีพัฒนาการด้านสติปัญญา เรียนรู้และสร้างสรรค์</p>
                    <p>ตัวชี้วัดที่ ๑.๓ เด็กมีพัฒนาการด้านภาษาและการสื่อสาร</p>
                    <p>ตัวชี้วัดที่ ๑.๔ เด็กมีพัฒนาการด้านอารมณ์และจิตใจ</p>
                    <p>ตัวชี้วัดที่ ๑.๕ เด็กมีพัฒนาการด้านสังคมและคุณธรรม</p>
                  </div>
                </div>
                <div class="accordion">
                  <input type="radio" name="radio-a" id="check3">
                  <label class="accordion-label" for="check3">มาตรฐานที่ ๓ การพัฒนาคุณภาพการจัดประสบการณ์การเรียนรู้เด็กปฐมวัย</label>
                  <div class="accordion-content">
                    <p>ตัวชี้วัดที่ ๑.๑ เด็กเจริญเติบโตสมวัย สุขภาพแข็งแรงและมีพัฒนาการด้านการเคลื่อนไหว</p>
                    <p>ตัวชี้วัดที่ ๑.๒ เด็กมีพัฒนาการด้านสติปัญญา เรียนรู้และสร้างสรรค์</p>
                    <p>ตัวชี้วัดที่ ๑.๓ เด็กมีพัฒนาการด้านภาษาและการสื่อสาร</p>
                    <p>ตัวชี้วัดที่ ๑.๔ เด็กมีพัฒนาการด้านอารมณ์และจิตใจ</p>
                    <p>ตัวชี้วัดที่ ๑.๕ เด็กมีพัฒนาการด้านสังคมและคุณธรรม</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
 </section>


<!-- test responsive  -->
<div class="container h-62 bg-red-500 mx-auto px-4 flex justify-center md:flex md:justify-center">
   <div class="h-32 bg-yellow-400 w-32"></div>
   <div class="h-32 bg-blue-400 w-32"></div>
</div>


<!-- มาตรฐานที่ 1 -->


  

<%-include('footer') %>

