<%-include('navbar') %>

<div class="container mx-auto  flex justify-center mt-8 mb-8">
    <div class="flex flex-col items-center text-center animate__animated animate__fadeInDown">
        <img class="w-16 md:w-32 mb-5" src="images/sms.png" alt="">
        <h1 class="text-3xl">เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนสารสิทธิ์พิทยาลัย </h1>
        <h1 class="text-xl">สำนักงานเขตพื้นที่การศึกษาประถมศึกษาราชบุรี เขต2</h1>
    </div>

</div>

<div class="bg-gray-200 h-[1500px] pt-8">
    <div class="flex flex-col sm:flex-row justify-center items-center gap-x-8 mb-8  animate__animated animate__fadeInUp">
        <!-- first container (ปฐมวัย) -->
        <div>
            <div class="bg-white drop-shadow-2xl rounded-lg flex items-center flex-col text-center p-6">
                <img class="w-36 mb-3" src="https://static.vecteezy.com/system/resources/previews/024/062/824/original/cute-little-children-boy-or-kids-cartoon-character-png.png" alt="">
                <div>
                    <h1 class="text-3xl">การศึกษาปฐมวัย</h1>
                    <h1 class="text-base">
                        เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนสารสิทธิ์พิทยาลัย
                    </h1>
                    <h1 class="text-base">
                        การศึกษาปฐมวัย
                    </h1>
                </div>
            </div>
            <div class="mt-3">
                <a type="button" href="#first_page" class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer" style="user-select: none;">
                    <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                    </svg>
                    <span class="text-xl text-white">
                        การศึกษาปฐมวัย
                    </span>
                </a>
                <a type="button" href="#link1" class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer" style="user-select: none;">
                    <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                    </svg>
                    <span class="text-sm md:text-lg text-white">
                        คู่มือกรอบแนวทางการประกันคุณภาพภายนอก ระดับการศึกษาปฐมวัย
                    </span>
                </a>

            </div>

        </div>
        <!-- second container (การศึกษาขั้นพื้นฐาน)-->
        <div>
            <div class="bg-white drop-shadow-2xl rounded-lg flex items-center flex-col text-center p-6">
                <img class="w-36 mb-3" src=" https://static.vecteezy.com/system/resources/previews/011/155/585/original/cartoon-student-boy-happy-colorful-free-png.png" alt="">
                <div>
                    <h1 class="text-3xl">การศึกษาขั้นพื้นฐาน</h1>
                    <h1 class="text-base">
                        เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนสารสิทธิ์พิทยาลัย
                    </h1>
                    <h1 class="text-base">
                        ระดับการศึกษาขั้นพื้นฐาน
                    </h1>
                </div>
            </div>
            <div class="mt-3">
                <a type="button" href="#second_page" class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer" style="user-select: none;">
                    <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                    </svg>
                    <span class="text-xl text-white">
                        การศึกษาขั้นพื้นฐาน
                    </span>
                </a>
                <a type="button" href="#link1" class="flex justify-center gap-x-1 bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full cursor-pointer" style="user-select: none;">
                    <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023" />
                    </svg>
                    <span class="text-sm md:text-lg text-white">
                        คู่มือกรอบแนวทางการประกันคุณภาพภายนอก ระดับการศึกษาขั้นพื้นฐาน
                    </span>
                </a>
            </div>

        </div>
    </div>
    <!-- เนื้อหา video แนะนำโรงเรียน -->
    <div class="bg-white container mx-auto p-2 rounded-lg">
        <div class="mb-5 bg-gradient-to-r from-cyan-500 to-blue-500 w-full p-4 rounded-lg text-center">
            <h1 class="text-3xl text-white">VTR แนะนำโรงเรียนสารสิทธิ์พิทยาลัย</h1>
            <h3 class="text-lg text-white">VTR แนะนำโรงเรียนสารสิทธิ์พิทยาลัย ซึ่งมีรายละเอียด บริบทของโรงเรียนประจำปีการศึกษา 2567</h3>
        </div>
        <video class="w-full h-auto max-w-full" controls>
            <source src="/videos/sj_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</div>


<!-- การศึกษษปฐมวัย -->
<section id="first_page">
    <div class="flex flex-col md:flex-row justify-center items-center mt-8 gap-y-5 p-8 md:gap-x-8" data-aos="zoom-in">
        <div class="text-blue-600 text-center">
            <h1 class="text-5xl mb-3">การศึกษาปฐมวัย</h1>
            <h3 class="text-2xl">เอกสารประกอบการประกันคุณภาพภายนอก ของโรงเรียนสารสิทธิ์พิทยาลัย การศึกษาปฐมวัย</h3>
        </div>
        <div>
            <img class="w-[160px]" src="https://thumb.ac-illust.com/1f/1f0cc5ce78768305e4ea272e1f8f8707_t.jpeg" alt="">
        </div>
        <div>
            <div class="accordion-wrapper w-120">
                <div class="accordion">
                    <input type="radio" name="radio-a" id="check1" checked>
                    <label class="accordion-label" for="check1">มาตรฐานที่ ๑ ผลลัพธ์คุณภาพของเด็กปฐมวัย</label>
                    <div class="accordion-content">
                        <h1 class="text-xl">
                            ตัวชี้วัดที่ ๑.๑ เด็กเจริญเติบโตสมวัย สุขภาพแข็งแรงและมีพัฒนาการด้านการเคลื่อนไหว <br>
                            ตัวชี้วัดที่ ๑.๒ เด็กมีพัฒนาการด้านสติปัญญา เรียนรู้และสร้างสรรค์<br>
                            ตัวชี้วัดที่ ๑.๓ เด็กมีพัฒนาการด้านภาษาและการสื่อสาร  <br>
                            ตัวชี้วัดที่ ๑.๔ เด็กมีพัฒนาการด้านอารมณ์และจิตใจ  <br>
                            ตัวชี้วัดที่ ๑.๕ เด็กมีพัฒนาการด้านสังคมและคุณธรรม  <br>
                        </h1>
                      
                    </div>
                </div>
                <div class="accordion">
                    <input type="radio" name="radio-a" id="check2">
                    <label class="accordion-label" for="check2">มาตรฐานที่ ๒ การบริหารจัดการสถานพัฒนาเด็กปฐมวัย</label>
                    <div class="accordion-content">
                        <h1 class="text-xl">
                            ตัวชี้วัดที่ ๑.๑ <br>
                            ตัวชี้วัดที่ ๑.๒ <br>
                            ตัวชี้วัดที่ ๑.๓ <br>
                            ตัวชี้วัดที่ ๑.๔ <br>
                            ตัวชี้วัดที่ ๑.๕ <br>
                        </h1>
                    </div>
                </div>
                <div class="accordion">
                    <input type="radio" name="radio-a" id="check3">
                    <label class="accordion-label" for="check3">มาตรฐานที่ ๓ การพัฒนาคุณภาพการจัดประสบการณ์การเรียนรู้เด็กปฐมวัย</label>
                    <div class="accordion-content">
                        <h1 class="text-xl">
                            ตัวชี้วัดที่ ๑.๑ <br>
                            ตัวชี้วัดที่ ๑.๒ <br>
                            ตัวชี้วัดที่ ๑.๓ <br>
                            ตัวชี้วัดที่ ๑.๔ <br>
                            ตัวชี้วัดที่ ๑.๕ <br>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- test responsive  -->
<!-- <div class="container h-62 bg-red-500 mx-auto px-4 flex justify-center md:flex md:justify-center">
   <div class="h-32 bg-yellow-400 w-32"></div>
   <div class="h-32 bg-blue-400 w-32"></div>
</div> -->

<div class="bg-blue-600 py-4 px-4">
    <div class="bg-white text-blue-600  rounded-lg pt-8">
        <div class="text-center mb-2">
            <h1 class="text-5xl">มาตรฐานที่ ๑</h1>
            <h1 class="text-2xl">ผลลัพธ์คุณภาพของเด็กปฐมวัย</h1>
        </div>

        <div class="md:flex gap-x-2 px-3 py-3 mb-8">

            <div class="border-solid border-2 border-gray-300  rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50"  data-aos = "fade-down-right">
                <div class="mb-5 text-center">
                    <h1 class="text-4xl">VTR ประกอบการพิจารณา</h1>
                    <h1>มาตรฐานที่ 1ผลลัพธ์คุณภาพของเด็กปฐมวัย ตัวชี้วัดที่ 1.1 , ตัวชี้วัดที่ 1.2 , ตัวชี้วัดที่ 1.3 , ตัวชี้วัดที่ 1.4 , ตัวชี้วัดที่ 1.5</h1>
                </div>
                <div>
                    <video class="w-full h-auto" controls>
                        <source src="/videos/sj_video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

            <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos = "fade-down-left">
                <h1 class="text-lg md:text-4xl text-center mb-3">ข้อมูลประกอบการพิจารณา</h1>
                <div class="accordion-wrapper w-full">
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check4" checked>
                        <label class="accordion-label" for="check4">ตัวชี้วัดที่ ๑.๑ เด็กเจริญเติบโตสมวัย สุขภาพแข็งแรงและมีพัฒนาการด้านการเคลื่อนไหว</label>
                        <div class="accordion-content">
                            <h1 class="text-xl">
                                - แผนปฏิบัติการประจำปีการศึกษา๒๕๖๓-๒๕๖๖ <br>
                                - บันทึกสุขภาพและพัฒนาการของเด็ก <br>
                                - บันทึกการชั่งน้ำหนัก และวัดส่วนสูง <br>
                                - สมุดรายงานประจำตัวเด็ก <br>
                                - แบบบันทึกพฤติกรรมเด็ก <br>
                                - อาหารกลางวันของเด็ก <br>
                                - รายงานพัฒนาการด้านการเจริญเติบโต และสุขภาพ ของเด็ก ปีการศึกษา ๒๕๖๓, ๒๕๖๔, ๒๕๖๕, ๒๕๖๖ <br>
                                - ผลการประเมินพัฒนาการของเด็กทั้ง ๔ ด้าน <br>
                                - ผลการจัดกิจกรรมหลัก ๖ กิจกรรม <br>
                                - สมรรถภาพทางร่างกาย และทางกลไกของเด็ก เช่น การวิ่ง การเดิน การยืน การกระโดด การโยน การรับ ลูกบอล การเตะ การปฏิบัติกิจกรรมประจำวัน และ การเล่นในและนอกห้องเรียน <br>
                                - การใช้เครื่องเล่นสนาม อุปกรณ์การเล่นต่างๆ <br>
                                - รายงานผลการประเมินตนเอง ระดับการศึกษา ปฐมวัย ปีการศึกษา ๒๕๖๓, ๒๕๖๔, ๒๕๖๕ <br>
                                - ผลการดำเนินงานโครงการ/กิจกรรมที่สอดคล้องกับ ตัวชี้วัด ปีการศึกษา ๒๕๖๓, ๒๕๖๔, ๒๕๖๕, ๒๕๖๖ <br>
                                - การดำเนินงานที่เป็นแบบอย่างที่ดี เกี่ยวกับพัฒนาการของเด็กด้านเจริญเติบโตสมวัย สุขภาพแข็งแรง และมีพัฒนาการด้านการเคลื่อนไหว <br>    
                            </h1>
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check5">
                        <label class="accordion-label" for="check5">ตัวชี้วัดที่ ๑.๒ เด็กมีพัฒนาการด้านสติปัญญา เรียนรู้ และ สร้างสรรค์</label>
                        <div class="accordion-content">
                            <h1 class="text-xl">
                                - แผนปฏิบัติการประจำปีการศึกษา ๒๕๖๓, ๒๕๖๔, ๒๕๖๕, ๒๕๖๖ <br>
                                - แผนการจัดประสบการณ์การเรียนรู้ <br>
                                - บันทึกผลหลังการจัดประสบการณ์การเรียนรู้ <br>
                                - แบบบันทึกพฤติกรรมเด็ก <br>
                                - แบบบันทึกคำพูดและคำถามของเด็ก <br>
                                - ผลงานที่เกิดจากการเรียนรู้ของเด็ก <br>
                                - แฟ้มสะสมงานของเด็ก <br>
                                - รางวัลที่เด็กได้รับ ปีการศึกษา ๒๕๖๓, ๒๕๖๔, ๒๕๖๕, ๒๕๖๖ <br>
                                - กิจกรรมหลัก ๖ กิจกรรม <br>
                                - รายงานผลการประเมินตนเอง ระดับการศึกษา ปฐมวัยปีการศึกษา ๒๕๖๓, ๒๕๖๔, ๒๕๖๕ <br>
                                - ผลการดำเนินงานโครงการ/กิจกรรมที่สอดคล้อง <br>
                                - กับตัวชี้วัด ปีการศึกษา ๒๕๖๓-๒๕๖๖ <br>
                                - การดำเนินงานที่เป็นแบบอย่างที่ดี<br>
                                - ที่มีวัตถุประสงค์สอดคล้องกับตัวชี้วัด <br>
                            </h1>
                                             
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check6">
                        <label class="accordion-label" for="check6">ตัวชี้วัดที่ ๑.๓ เด็กมีพัฒนาการด้านภาษาและการสื่อสาร</label>
                        <div class="accordion-content">
                           <h1 class="text-xl">
                            - แผนปฏิบัติการประจำปีการศึกษา ๒๕๖๓-๒๕๖๖ <br>
                            - แผนการจัดประสบการณ์การเรียนรู้ <br>
                            - บันทึกผลหลังการจัดประสบการณ์การเรียนรู้ <br>
                            - บันทึกการสื่อสารระหว่างครูกับผู้ปกครอง <br>
                            - บันทึกพัฒนาการของเด็ก <br>
                            - แบบบันทึกคำพูดและคำถามของเด็ก <br>
                            - ภาพถ่าย วีดิทัศน์กิจกรรม <br>
                            - แฟ้มสะสมผลงาน <br>
                            - กิจกรรมหลัก ๖ กิจกรรม <br>
                            - รายงานผลการประเมินตนเอง ระดับการศึกษา ปฐมวัย ปีการศึกษา ๒๕๖๓, ๒๕๖๔, ๒๕๖๕ <br>
                            - ผลการดำเนินงานโครงการ/กิจกรรมที่สอดคล้องกับ ตัวชี้วัด ปีการศึกษา ๒๕๖๓-๒๕๖๖ <br>
                            - การดำเนินงานที่เป็นแบบอย่างที่ดี ที่มีวัตถุประสงค์สอดคล้องกับตัวชี้วัด  <br>
                           </h1>
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check7">
                        <label class="accordion-label" for="check7">ตัวชี้วัดที่ ๑.๔ เด็กมีพัฒนาการด้านอารมณ์และจิตใจ</label>
                        <div class="accordion-content">
                            <h1 class="text-xl"> 
                                - แผนปฏิบัติการประจำปีการศึกษา ๒๕๖๓-๒๕๖๖ <br>
                                - แผนการจัดประสบการณ์การเรียนรู้ <br>
                                - บันทึกหลังการจัดประสบการณ์การเรียนรู้ <br>
                                - แบบบันทึกพฤติกรรมเด็ก <br>
                                - บันทึกพัฒนาการของเด็ก <br>
                                - ภาพถ่าย วีดิทัศน์กิจกรรม <br>
                                - แฟ้มสะสมผลงาน <br>
                                - กิจกรรมหลัก ๖ กิจกรรม <br>
                                - รายงานผลการประเมินตนเอง ระดับการศึกษา ปฐมวัย ปีการศึกษา ๒๕๖๓, ๒๕๖๔, ๒๕๖๕ <br>
                                - ผลการดำเนินงานโครงการ/กิจกรรมที่สอดคล้องกับ ตัวชี้วัด ปีการศึกษา ๒๕๖๓-๒๕๖๖ <br>
                                - การดำเนินงานที่เป็นแบบอย่างที่ดี <br>
                                  ที่มีวัตถุประสงค์สอดคล้องกับ ตัวชี้วัด <br>
                            </h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <!-- ภาพกิจกรรมที่เกิดจากการเรียนรู้ของนักเรียน -->
        <div class="container mx-auto mb-5">
            <div class="text-center">
                <h1 class="text-3xl">ภาพกิจกรรมที่เกิดจากการเรียนรู้ของนักเรียน</h1>
            </div>
            <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
            <div>
                <div class="owl-carousel owl-carousel-1 owl-theme">
                    <div class="border-solid border-2 bg-gray-50 shadow-sm  border-gray-200  p-1 m-2 rounded-lg">
                        <img src="/images/01.jpg" alt="">
                    </div>
                    <div class="border-solid border-2 bg-gray-50 shadow-sm  border-gray-200  p-1 m-2 rounded-lg">
                        <img src="/images/02.jpg" alt="">
                    </div>
                    <div class="border-solid border-2 bg-gray-50 shadow-sm border-gray-200  p-1 m-2 rounded-lg">
                        <img src="/images/03.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
        <div class="inline-flex items-center justify-center w-full">
            <hr class="w-1/2 h-1 my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">มาตรฐานที่ ๑ ผลลัพธ์คุณภาพของเด็กปฐมวัย</span>
        </div>
        <!-- มาตรฐาน2 -->
        <div class="text-center mb-2">
            <h1 class="text-5xl">มาตรฐานที่ ๒</h1>
            <h1 class="text-2xl">การบริหารจัดการสถานพัฒนาเด็กปฐมวัย</h1>
        </div>

        <div class="md:flex gap-x-2 px-3 py-3 mb-8">

            <div class="border-solid border-2 border-gray-300  rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos="fade-right">
                <div class="mb-5">
                    <h1 class="text-4xl text-center mb-3">วิสัยทัศน์พันธกิจ และค่านิยมของสถานศึกษา</h1>
                    <li>วิสัยทัศน์(Dropdown!!)</li>
                    <li>ปรัชญา(Dropdown!!)</li>
                    <li>พันธกิจ(Dropdown!!)</li>
                </div>
                <div class="text-center text-xl md:text-4xl mb-3"><h1>ภาพกิจกรรมในการบริหารจัดการสถานพัฒนาเด็กปฐมวัย</h1></div>
                <div>


                    <div id="default-carousel" class="relative w-full" data-carousel="slide">
                        <!-- Carousel wrapper -->
                        <div class="relative h-96 overflow-hidden rounded-lg md:h-96">
                            <!-- Item 1 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="/images/nature_01.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                            <!-- Item 2 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="/images/nature_02.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                            <!-- Item 3 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="/images/nature_03.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                        </div>
                        <!-- Slider indicators -->
                        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
                        </div>
                        <!-- Slider controls -->
                        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>

                </div>
            </div>

            <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos="fade-left">
                <h1 class="text-lg md:text-4xl text-center mb-3">ข้อมูลประกอบการพิจารณา</h1>
                <div class="accordion-wrapper w-full">
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check8" checked>
                        <label class="accordion-label" for="check8">
                            ตัวชี้วัดที่ ๒.๑ วิสัยทัศน์พันธกิจ และค่านิยมของสถานศึกษาหรือสถานพัฒนาเด็กปฐมวัย
                        </label>
                        <div class="accordion-content">
                            <p>test</p>

                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check9">
                        <label class="accordion-label" for="check9">
                            ตัวชี้วัดที่ ๒.๒ กลยุทธ์และเป้าหมายของสถานศึกษาหรือสถานพัฒนาเด็กปฐมวัย
                        </label>
                        <div class="accordion-content">
                            <p>test</p>

                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check10">
                        <label class="accordion-label" for="check10">
                            ตัวชี้วัดที่ ๒.๓ ผู้บริหารสถานศึกษาหรือสถานพัฒนาเด็กปฐมวัยมีภาวะผู้นําทางวิชาการ และบริหารจัดการด้วยหลักธรรมาภิบาล
                        </label>
                        <div class="accordion-content">
                            <p>test</p>

                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check11">
                        <label class="accordion-label" for="check11">
                            ตัวชี้วัดที่ ๒.๔ การพัฒนาวิชาชีพผู้บริหาร ครูหรือผู้ดูแลเด็ก และบุคลากรทางการศึกษา
                        </label>
                        <div class="accordion-content">
                            <p>test</p>

                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check12">
                        <label class="accordion-label" for="check12">
                            ตัวชี้วัดที่ ๒.๕ การนิเทศครูหรือผู้ดูแลเด็กและการประเมินการปฏิบัติงานอย่างเป็นระบบ
                        </label>
                        <div class="accordion-content">
                            <p>test</p>
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check13">
                        <label class="accordion-label" for="check13">
                            ตัวชี้วัดที่ ๒.๖ การใช้สื่อสนับสนุนการจัดประสบการณ์การเรียนรู้อย่างเพียงพอและปลอดภัย
                        </label>
                        <div class="accordion-content">
                            <p>test</p>
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check14">
                        <label class="accordion-label" for="check14">
                            ตัวชี้วัดที่ ๒.๗ การจัดสภาพแวดล้อม แหล่งเรียนรู้ที่มีความมั่นคงและปลอดภัย
                        </label>
                        <div class="accordion-content">
                            <p>test</p>
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check15">
                        <label class="accordion-label" for="check15">
                            ตัวชี้วัดที่ ๒.๘ สวัสดิการ สวัสดิภาพ แนวทางการป้องกันโรค อุบัติภัย ภัยพิบัติ
                        </label>
                        <div class="accordion-content">
                            <p>test</p>
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check16">
                        <label class="accordion-label" for="check16">
                            ตัวชี้วัดที่ ๒.๙ กระบวนการเฝ้าระวัง การคัดกรองเบื้องต้น๗ สําหรับเด็กที่ต้องการความช่วยเหลือ
                        </label>
                        <div class="accordion-content">
                            <p>test</p>
                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check17">
                        <label class="accordion-label" for="check17">
                            ตัวชี้วัดที่ ๒.๑๐ การสร้างเครือข่ายและการมีส่วนร่วมของผู้ปกครอง ชุมชน และหน่วยงานภายนอก
                        </label>
                        <div class="accordion-content">
                            <p>test</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inline-flex items-center justify-center w-full">
            <hr class="w-1/2 h-1 my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">มาตรฐานที่ ๒ การบริหารจัดการสถานพัฒนาเด็กปฐมวัย</span>
        </div>


        <!-- มาตรฐาน ๓ -->
        <div class="text-center mb-2">
            <h1 class="text-5xl">มาตรฐานที่ ๓</h1>
            <h1 class="text-2xl">การพัฒนาคุณภาพการจัดประสบการณ์การเรียนรู้เด็กปฐม</h1>
        </div>

            <div class="md:flex gap-x-2 px-3 py-3 mb-8">
                <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos="fade-up-right">
                    <h1 class="text-lg md:text-4xl text-center">ภาพกิจกรรมประกอบการพิจารณา</h1>
                    <!-- carousel -->
                    <div class="owl-carousel owl-carousel-2 owl-theme">
                        <div class="h-full md:h-650 w-full">
                            <img class="h-full w-full object-contain" src="https://cdn.discordapp.com/attachments/891704347921113099/1321902126850637887/Screenshot_2024-12-27_005143.png?ex=676eecca&is=676d9b4a&hm=15bc3e9f071d95d1b6ea6e9b20b8bf4e60bf618639b22e87a1bdeda89df94e20&" alt="">
                        </div>
                    </div>
                </div>


          
                    <div class="border-solid border-2 border-gray-300 rounded-lg md:w-1/2 p-4 shadow-lg bg-gray-50" data-aos="fade-up-left">
                      <h1 class="text-lg md:text-4xl text-center mb-3">ข้อมูลประกอบการพิจารณา</h1>
                      <div class="accordion-wrapper w-full">
                        <div class="accordion">
                            <input type="radio" name="radio-a" id="check18" checked>
                            <label class="accordion-label" for="check18">
                                ตัวชี้วัดที่ ๓.๑ หลักสูตรและแผนการจัดประสบการณ์การเรียนรู้
                            </label>
                            <div class="accordion-content">
                                <p>test</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <input type="radio" name="radio-a" id="check19">
                            <label class="accordion-label" for="check19">ตัวชี้วัดที่ ๓.๒ การจัดกิจกรรมพัฒนาคุณลักษณะพึงประสงค์ที่ เหมาะสมกับวัย</label>
                            <div class="accordion-content">
                                <p>test</p>
    
                            </div>
                        </div>
                        <div class="accordion">
                            <input type="radio" name="radio-a" id="check20">
                            <label class="accordion-label" for="check20">ตัวชี้วัดที่ ๓.๓ ครูหรือผู้ดูแลเด็กประเมินพัฒนาการของเด็กอย่างเป็นระบบและต่อเนื่อง</label>
                            <div class="accordion-content">
                                <p>test</p>
    
                            </div>
                        </div>
                        <div class="accordion">
                            <input type="radio" name="radio-a" id="check21">
                            <label class="accordion-label" for="check21">ตัวชี้วัดที่ ๑.๔ เด็กมีพัฒนาการด้านอารมณ์และจิตใจ</label>
                            <div class="accordion-content">
                                <p>test</p>
    
                            </div>
                        </div>
                        <div class="accordion">
                            <input type="radio" name="radio-a" id="check22">
                            <label class="accordion-label" for="check22">มาตรฐานที่ ๓ การพัฒนาคุณภาพการจัดประสบการณ์การเรียนรู้เด็กปฐมวัย</label>
                            <div class="accordion-content">
                                <p>test</p>
    
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <div class="px-3 py-3 mb-8">
        <div class="border-2 border-gray-200 text-center pt-4">
            <h1 class="text-2xl mb-5">ผลที่เกิดจากการเรียนรู้ของนักเรียน</h1>

            <div class="md:flex md:justify-center">
                <div class="grid grid-cols-1 gap-5  md:grid-cols-4 md:gap-12">
                    <!-- cards -->
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                        </a>
                        <div class="p-5">
                            <a href="#">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Certificate</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                 แฟ้มสะสมผลงานผู้เรียน (Portfolio)​ 
                            </p>
                        </div>
                    </div>
    
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                        </a>
                        <div class="p-5">
                            <a href="#">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Certificate</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">เกียรติบัตร.....</p>
                        </div>
                    </div>
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                        </a>
                        <div class="p-5">
                            <a href="#">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Certificate</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">เกียรติบัตร.....</p>
                        </div>
                    </div>
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                        </a>
                        <div class="p-5">
                            <a href="#">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Certificate</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">เกียรติบัตร.....</p>
                        </div>
                    </div>
    
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                        </a>
                        <div class="p-5">
                            <a href="#">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Certificate</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">เกียรติบัตร.....</p>
                        </div>
                    </div>
    
                   <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="rounded-t-lg" src="/images/certificate01.png" alt="" />
                        </a>
                        <div class="p-5">
                            <a href="#">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Certificate</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">เกียรติบัตร.....</p>
                        </div>
                    </div>
               
           
                    
                  </div>
            </div>
        </div>
    </div>
    <section id="second_page">
        <div class="flex flex-col md:flex-row justify-center items-center mt-8 gap-y-5 p-8 md:gap-x-8" data-aos="zoom-in">
            <div class="text-blue-600 text-center">
                <h1 class="text-5xl mb-3">การศึกษาขั้นพื้นฐาน</h1>
                <h3 class="text-2xl">เอกสารประกอบการประกันคุณภาพภายนอก รอบที่ 5 ของโรงเรียนบ้านแป้น ระดับการศึกษาขั้นพื้นฐาน</h3>
            </div>
            <div>
                <img class="w-[160px]" src="https://th.bing.com/th/id/R.b6a4a72005e212207d54674d5b73044a?rik=dJIsSGm2f4bJvQ&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fboy-transparent%2fboy-transparent-1.png&ehk=l33zadxQoI%2fgylaL3FdT%2fle%2f4jq9SwGE3oCzYgkHbEo%3d&risl=&pid=ImgRaw&r=0" alt="">
            </div>
            <div>
                <!-- selector bar -->
                <div class="accordion-wrapper w-full">
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check23">
                        <label class="accordion-label" for="check23">มาตรฐานที่ ๓ การพัฒนาคุณภาพการจัดประสบการณ์การเรียนรู้เด็กปฐมวัย</label>
                        <div class="accordion-content">
                            <p>test</p>

                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check24">
                        <label class="accordion-label" for="check24">มาตรฐานที่ ๓ การพัฒนาคุณภาพการจัดประสบการณ์การเรียนรู้เด็กปฐมวัย</label>
                        <div class="accordion-content">
                            <p>test</p>

                        </div>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="radio-a" id="check25">
                        <label class="accordion-label" for="check25">มาตรฐานที่ ๓ การพัฒนาคุณภาพการจัดประสบการณ์การเรียนรู้เด็กปฐมวัย</label>
                        <div class="accordion-content">
                            <p>test</p>

                        </div>
                    </div>
            </div>
        </div>
    </section>
    
</div>




<%-include('footer') %>